.portfolio-item {
  margin-bottom: 2em;
}

.container {
  text-align: center;
  height: 100%;
  margin-top: 4em;
}

.container.info {
    padding: 1em;
    margin: 0;
    background: #fff;
    height: 100vh;
    box-shadow: 0 6px 6px rgba(0,0,0,0.5);
}

.container.list {
    padding: 1em 5em;
    position: relative;
    top: 5em;
    background: rgba(0,0,0,0.5);
}

.pagination {
  margin-top: 2em;
}

.avatar {
  padding: 0.5em;
  font-size: 3em;
}

