/* body {
  height: 100vh;
} */

.portfolio-item {
  margin-bottom: 2em;
}

.card {
  opacity: 0.8;
  border:2px solid rgba(0,0,0,0.6);
}

/* .card:hover {
  opacity: 1;
  border:2px solid  rgba(0,0,0,0.8);
} */

.container {
  text-align: center;
  height: 100%;
  /*margin-top: 4em;*/
}

.container.info {
    padding: 1em;
    margin: 0;
    background: #fff;
    height: 65vh;
    box-shadow: 0 6px 6px rgba(0,0,0,0.5);
}

.container.list {
    padding: 1em 5em;
    position: relative;
    /*top: 5em;*/
    /*background: rgba(0,0,0,0.5);*/
}

.container.header {
  color: #fff;
  margin-bottom: 2em;
}

.pagination {
  margin-top: 2em;
}

.avatar {
  padding: 0.5em;
  font-size: 3em;
}

.nickname {
    padding: 0.6em;
    color: #fff;
    border-radius: 4px;
    background-color: #328dfc;
}

