.chatListBox {
    overflow: scroll;
    max-height: 14em;
    min-height: 14em;
    padding-left: 1em;
}

.chatList {
    text-align: left;
    list-style: none;
    /*padding-left: 1em;*/
}

.chatRoom {
    position: relative;
    background: #efefef;
    color: #333;
    margin: 0;
    font-size: 2em;
    padding: 1em;
    /*border-bottom: 1px solid #aaa;*/
}
