<p>
  board works!
</p>

<div class="board_container" #entry>
  <!-- Magic happens here -->
  <button mat-raised-button color="primary" (click)='addComponent("sticky-note")'>Generate StickyNote</button>
  <button mat-button color="primary" (click)='addComponent("draw-pen-canvas")'>Generate Draw Canvas</button>
  <button mat-button color="warning" (click)='addComponent("draw-shape")'>Generate Draw Shape</button>
  <button mat-button color="secondary" (click)='addComponent("text-editor")'>Generate Text Editor</button>
  <button mat-button color="primary" (click)='addComponent("altra-paint-canvas")'>Generate Draw Altra Paint Canvas</button>
</div>
