* {
    cursor: grab;
    /* Use this to change cursor to custom pointer*/
}

#mydiv {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    cursor: grabbing;
    display: block;
    /* Neccessary to grab the entire block */
}

.textBlock {
    font-size: 1vh;
}

.anotherBlock {
    position: absolute;
    z-index: 8;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    cursor: grab;
    width: 127px;
    height: 137px;
}

.draggable {
    position: absolute;
    z-index: 8;
    background-color: yellowgreen;
    border: 1px solid #d3d3d3;
    text-align: center;
    cursor: grab;
    width: 127px;
    height: 137px;
}

body {
    height: 150vh;
    margin: 8px;
    font: 14px/18px Arial, sans-serif;
    text-align: center;
    background-color: #efefef;
    background-image: linear-gradient(rgba(200, 200, 200, .15) 1px, transparent 1px), linear-gradient(90deg, rgba(200, 200, 200, .15) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}


/* Toolbar */

.toolbar {
    background: #fff;
    padding: 0;
    position: absolute;
    top: 25%;
    width: 3.5em;
    border-radius: 4px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, .5);
}

.toolbar li {
    list-style: none;
    width: 100%;
}

.toolbar a {
    margin: 0;
    background: #fff;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-right: 1px solid rgba(255, 255, 255, .3);
    color: #222;
    display: block;
    font-size: 1.5em;
    line-height: 2.2em;
    text-decoration: none;
}

.toolbar li:first-child a {
    border-radius: 4px 4px 0 0;
}

.toolbar li:last-child a {
    border-radius: 0 0 4px 4px;
}

.toolbar a:hover {
    background: #328dfc;
    color: #fff;
    text-shadow: 0 1px 0 #666;
}

.toolbar a:active {
    background: #2367ba;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .3) inset;
    text-shadow: 0 -1px 0 #666;
}