/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* *{
    cursor: grab; 
} */

.textBlock {
    font-size: 1vh;
}  

.draggable{ 
    position: absolute;
    z-index: 8;
    cursor: default;
    /* background-color: yellowgreen; */
    /* border: 1px solid #d3d3d3; */
    text-align: center;
    width: 127px;
    height: 137px;
}
 
.sticky-note {
    float: left;
    padding: 25px 25px 40px;
    /* margin: 0 20px 20px 20px; */
    width: 120px;
    height: 120px;
    font: 20px 'Shadows Into Light', monospace;
    line-height: 1.5;
    border: 0;
    border-radius: 3px;
    background: linear-gradient(#F9EFAF, #F7E98D);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: box-shadow 0.5s ease;
    font-smoothing: subpixel-antialiased;
    resize: none;
    /*  max-width:250px;
    max-height:250px;*/
}

.sticky-note:active, #dragHeader:active {
    /* box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15); */
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}



.sticky-note:focus {
    box-shadow: 0 15px 22px rgba(0, 0, 0, 0.2);
    outline: none;
}

#dragHeader {
    /* padding: 5px;
    width:100%;
    cursor: grab;
    z-index: 10;
    background-color: #2196F3;
    color: #fff; */
    position: absolute;
    color: #ccc;
    cursor: move;
    width: 24px;
    height: 24px;
}

.newDrag {
    position:absolute;
}


body {
    height: 150vh;
    margin: 8px;
    font: 14px/18px Arial, sans-serif;
    text-align: center;
    background-color: #efefef;
    background-image: linear-gradient(rgba(200, 200, 200, .15) 1px, transparent 1px), linear-gradient(90deg, rgba(200, 200, 200, .15) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}