.userDisplayNameInput {

}

.userGetStartedBtn {

}

#main {
  height: 100%;

}

#main .navbar {
  padding: 0 1rem;
}

.logo {
  padding: 0.5em;
}

.use{
  height: 50%;
  overflow: hidden;
  background: rgba(0,0,0,0.5);
}

.heading {
  height: 100%;
  width: 100%;
  /*background: tomato;*/
  padding: 0;
}

.heading h1 {
  font-weight: bold;
  color: #fff;
  font-size: 400%;
  transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}

.heading h3 {
  color: #fff;
  font-size: 150%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}

.heading img {
  border-radius: .3rem;
}

.heading form {
  display: flex;
  margin-top: 2em;
}

.heading form input {
  margin-right: 0.5em;
  text-align: center;
  border: 1px solid #ff521e;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
}

.btn {
  /*margin-top: 2em;*/
}

.btn-primary {
  background-color: #ff521e;
  border: 1px solid #ff521e;
}

.btn-primary:hover {
  background-color: #ba3912;
  border: 1px solid #ba3912;
}

.padding {
  padding-bottom: 2rem;
}

.welcome {
  /*width: 75%;*/
  margin: 0 auto;
  padding-top: 2rem;
}

.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

.fa-angular {
  color: #ba2525;
}

.fa-bold {
  color: #563d7c;
}

.fa-css3 {
  color: #2163af;
}

.fire {
  width: 1em;
  height: 1em;
}

.fa-angular, .fa-bold, .fire {
  font-size: 4em;
  margin: 1rem;
}

.social a {
  font-size: 4.5em;
  padding: 3rem;
}

hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

hr.light-100 {
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}


/*---Media Queries --*/
@media (max-width: 992px) {
  .social a {
    font-size: 4em;
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  .navbar {
    padding: 0 15px;
  }

  .display-4 {
    font-size: 200%;
  }

  .social a {
    font-size: 2.5em;
    padding: 1.2rem;
  }
}
@media (max-width: 576px) {
  .display-4 {
    font-size: 160%;
  }

  .social a {
    font-size: 2em;
    padding: .7rem;
  }
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 0.5rem;
}
